*{
    margin: 0px;
    padding: 0px;
}
html{
    background: white;
}
body{
    padding-top: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(227, 75, 38,1),rgba(240, 101, 41,0)); 
}
article, section, aside, nav, header, footer, figure, figcaption, main { display: block; }
#page{
    width: 960px;
    margin: 0px auto;
    text-align: left;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    -moz-box-shadow: 10px 10px 10px gray;
    -webkit-box-shadow: 10px 10px 10px gray;
}
div header:nth-child(1) {
    font-family: courier;
    font-size: 1.1em;
    color: #fff;
    border-bottom: 6px solid #000;
    background-image: linear-gradient(#0170B9, #27AADE);
    border-radius: 20px 20px 0px 0px;
}
h1{
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding:20px 100px 20px 100px;
}
nav{
    font-family: courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    /*background-image: url("../imgs/red015.jpg");*/
    background-image: linear-gradient(rgb(223, 186,50), rgb(255, 218,62));
    background-repeat: repeat;
}
nav li{
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}
nav li:nth-child(1){
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    padding-top: 80px;
    background-position: center;
}
nav li:nth-child(2){
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    border-top: 90px;
    background-position: center;
}
nav li:nth-child(3){
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    border-top: 10px;
    background-position: center;
}
li a:visited, a:link{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: orange;
}
.clearfix:before,
.clearfix:after,
main{
    font-family: verdana;
    font-size: 0.8em;
    width:100%;
    display: table;
    background: white;
}
article{
    width: 180px;
    border: 25px solid transparent; 
    text-align: center;
    line-height: 1.8em;
    margin: 10px 10px 10px 10px;
    padding: 35px 35px 55px 35px;
    float: left;
    border-image-source: url(../imgs/movil.png);
    border-image-slice: 70 25;
    border-image-width: 70px 20px ;
}
article header{
    
    border-bottom: 2px solid #959999;
}
h2{
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px gray;

}
footer{
    font-size: 0.7em;
    color: white;
    text-align: center;
    background-color: #313B44;
    border-top: 6px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient( #27AADE, #0170B9);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px 10px 10px gray;
    -webkit-box-shadow: 10px 10px 10px gray;
    -moz-box-shadow: 10px 10px 10px gray;
}
footer a{
    color: white;
    font-size: small;
}
img[src*="javascript"]{
    background-image: radial-gradient(circle, #ffffff 0%,#cecece 200%);  
}
img{
    margin: 10px 0px 0px -30px;  
}
